*{
  margin: 0;
  padding: 0;
}
li{
  margin: auto;
  text-align: center;
  display: inline-block;
}
nav{
  width: 100%;
  height: 100%;
  background-color: red;
  text-align: center;
}
a{
  padding: 30px 20px;
  display: inline-block;
  text-decoration:none;
  color: white;

}
nav>ul>li:hover{
  box-sizing: border-box;
  border-bottom:solid 3px white;
  background-color:black;
}
nav:nth-child(2){
  display: block;
  top: 79px;
  width: 100%;
  height: 50px 30px 50px 30px;
  background-color: black;
  overflow: hidden;
  animation: slide 0s infinite;
  position: absolute;
}
nav:nth-child(2)>*{
  display:block;
  width: 100%;
  height:100%;
  background-color:black;
  overflow: hidden;
  animation: slide 10s infinite;
  position: absolute;
}
slide:nth-child(1){
  animation-delay:3.5s;
  background-image: url(../ASSET/1.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(2){
  animation-delay: 3s;
  background-image: url(../ASSET/2.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(3){
  animation-delay: 2.5s;
  background-image: url(../ASSET/3.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(4){
  animation-delay: 2s;
  background-image: url(../ASSET/4.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(5){
  animation-delay: 1.5s;
  background-image: url(../ASSET/6.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(6){
  animation-delay: 1s;
  background-image: url(../ASSET/7.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(7){
  animation-delay: 0.5s;
  background-image: url(../ASSET/9.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(8){
  animation-delay: 0s;
  background-image: url(../ASSET/14.jpg);
  background-size: cover;
  background-position: center;
}
@keyframes slide {
  0%{left: 100%;width: 100%;}
  }
section>article:nth-child(1)>img{
  position: absolute;
  top: 400px;
  left: 100px;
  margin: 0 auto;
  width: 150px;
  height: 200px;
  border: solid 3px black;
  padding: 0px ;
  width: 150px;
  height: 200px;

  }
  section>article:nth-child(2)>img{
    position: absolute;
    top: 400px;
    left: 300px;
    margin: 0 auto;
    width:  150px;
    height: 200px;
    border:solid 3px black;
    padding: 0px;
    width: 150px;
    height: 200px;
  }
  section>article:nth-child(3)>img{
    position: absolute;
    top: 400px;
    left: 500px;
    margin: 0 auto;
    width:  150px;
    height: 200px;
    border: solid 3px black;
    padding: 0px;
    width: 150px;
    height: 200px;
  }
  section>article:nth-child(4)>img{
    position: absolute;
    top: 400px;
    left: 700px;
    margin: 0 auto;
    width:  150px;
    height: 200px;
    border: solid 3px black;
    padding: 0px;
    width: 150px;
    height: 200px;
  }
  section>article:nth-child(5)>img{
    position: absolute;
    top: 400px;
    left: 900px;
    margin: 0 auto;
    width:  150px;
    height: 200px;
    border:solid 3px black;
    padding: 0px;
    width: 150px;
    height: 200px;
  }
  section>article:nth-child(6)>img{
    position: absolute;
    top: 400px;
    left: 1100px;
    margin: 0 auto;
    width: 150px;
    height: 200px;
    border: solid 3px black;
    padding: 0px;
    width: 150px;
    height: 200px;
  }
  footer{
    background-color:white;
    width: 100%;
    height: 180px;
    position: absolute;
    top:680px;
  }
  footer>img:nth-child(1){
    width: 50px;
    top: 80px;
    left: 400px;
    height: 50px;
    position: absolute;
  }
  footer>img:nth-child(2){
    width: 50px;
    top: 80px;
    left:500px;
    height: 50px;
    position: absolute;
  }
  footer>img:nth-child(3){
    width: 50px;
    top: 80px;
    left: 600px;
    height: 50px;
    position: absolute;
  }
  footer>img:nth-child(4){
    width: 50px;
    top: 80px;
    left: 700px;
    height: 50px;
    position: absolute;
  }
  footer>img:nth-child(5){
    width: 50px;
    top: 80px;
    left: 800px;
    height: 50px;
    position: absolute;
  }
  nav:nth-child(3){
    display: block;
    top: 79px;
    width: 100%;
    height: 50px 30px 50px 30px;
    background-color: black;
    overflow: hidden;
    animation: slide 0s infinite;
    position: absolute;
  }
  .accion{
    width: 100%;
    height: 100%;
    background-color:black;
  }
